:root{
    --dash-dark: rgba(19, 41, 63, 1);
    --dash-primary: rgba(27, 114, 232, 1);
}

/* end utilities */


.logo img{
    height: 50px;
}

.sidebar{
    color: white;
    height: calc(100vh - 66px);
    background-color: var(--dash-dark);
}

.banner{
    background-color: var(--dash-primary);

    & a{
        color: white;
        text-decoration: none;
    }

}

