:root {
    --dash-dark: rgba(19, 41, 63, 1);
    --dash-primary: rgba(27, 114, 232, 1);
}


/* end utilities */

body{
    overflow: hidden;
}

main{
    height: calc(100vh - 66px);
    overflow-y: auto;
}


.logo img {
    height: 50px;
}

.sidebar {
    color: white;
    height: calc(100vh - 66px);
    background-color: var(--dash-dark);
    background-image: url(../img/sidebar-bg.png);

    & a{
        text-decoration: none;
        color: white;
    }

    & li{
        min-height: 24px;
    }
}

.banner {

    & a {
        color: white;
        text-decoration: none;
    }

}


@media screen and (max-width: 992px) {
    .myoffcanvas{
        width: 100%;
    }

}


.table img {
    width: 40px;
    aspect-ratio: 1;
    margin-right: 0.5rem;
}